* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

body {
    background-color: rgb(248, 248, 248);
    padding: 100px 24px 50px 90px;
}

/* ---------header----------- */
.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid rgb(196, 196, 196);
    z-index: 100;
    padding: 0 10px;

}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    border: 1px solid rgb(175, 175, 175);
    padding-left: 12px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
    font-family: Roboto;
    font-size: 16px;
}

.search-button {
    display: flex;
    height: 38px;
    width: 66px;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(175, 175, 175);
    margin-left: -1px;
    margin-right: 10px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;

}

.search-button,
.voice-search-button,
.upload-container,
.youtube-apps-container,
.notifications-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tool-tip,
.voice-search-button .tool-tip,
.upload-container .tool-tip,
.youtube-apps-container .tool-tip,
.notifications-container .tool-tip {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.664);
    color: white;
    padding: 8px 8px;
    border-radius: 3px;
    font-size: 12px;
    bottom: -40px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    /* z-index: 300; */
}

.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip,
.upload-container:hover .tool-tip,
.youtube-apps-container:hover .tool-tip,
.notifications-container:hover .tool-tip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search-button {
    height: 38px;
    width: 40px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 223);
    position: relative;
    flex-wrap: nowrap;
}

.voice-search-button:hover .tool-tip {
    opacity: 1;
}

.voice-search-icon {
    height: 24px;

}

.right-section {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 25px;
}

.notifications-icon {
    height: 25px;
}

.notifications-container {
    position: relative;
}

.notifications-count {
    position: absolute;
    top: -3px;
    right: -7px;
    background-color: red;
    color: white;
    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 20px;

}

.youtube-apps-icon {
    height: 24px;
}

.user-picture {
    height: 35px;
    border-radius: 18px;
    border: 1px rgb(209, 209, 209) solid;
}

/* ------------sidebar------------------ */
.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 77px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-icons {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-icons:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-icons img {
    height: 30px;
    margin-bottom: 5px;
}

.sidebar-icons div {
    font-size: 10px;
}

/* ----------video main--------------- */
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-link {
    text-decoration: none;
    color: inherit;
    display: block;
    /* Make the link block level to wrap the entire preview */
}
.video-preview {
    transition: transform 0.2s ease; /* Optional: Add some hover effect */
}

.video-link:hover .video-preview {
    transform: scale(1.02); /* Optional: Slightly scale up on hover */
}

.thumbnail-row {
    margin: 0px 0px 12px;
    position: relative;
}

.thumbnail {
    width: 100%;
    border-radius: 5px;
}

.profile-photo {
    border-radius: 50px;
    width: 36px;
}

.video-title {
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;

}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-author,
.video-stats {
    font-size: 12px;
    font-weight: 300;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-time {
    position: absolute;
    right: 5px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    padding: 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;

}

@media (max-width: 450px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 451px) and (max-width: 768px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }

    .left-section,
    .middle-section,
    .right-section {
        flex-grow: 1;
        /* Allow the sections to grow, distributing available space */
        flex-shrink: 1;
        /* Allow the sections to shrink, preventing overlap */
    }
}



@media (min-width: 769px) and (max-width: 1119px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}